@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Suez One', serif;
    color: #3d1449;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/background.png");
    display: flex;
    flex-direction: column;
}



:root {
    --christalle: #3D1449;
    --rural-red: #BA1445;
    --radical-red: #FD3768;
}

.login,
.login>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h1 {
    margin-bottom: 2rem;
}

.login__logo {
    width: 350px;
}

.login__input {
    border: none;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 12rem;
    border-radius: 10rem;
    margin-right: 1rem;
    color: inherit;
    border: 1px solid var(--christalle);
    transition: all 0.3s;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__input:focus {
    outline: none;
    border: 1px solid var(--radical-red);
}

.login__input::placeholder {
    color: #BA1445;
}

.login__btn {
    border: none;
    margin-top: 2rem;
    background: none;
    font-size: 2.2rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
}





.team__logo {
    width: 250px;
}



.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dashboard__matches {
    margin-top: 3rem;
}

.dashboard__matches h1 {
    margin: 1rem 1rem 0 1rem;
    background-color: var(--radical-red);
    padding: 1rem;
    border: none;
    border-radius: 12px;
}



.spirit__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(186, 20, 69, 0.3);
    border-radius: 12px;

    margin: 0 1.1rem 1.1rem 1.1rem;
    font-size: 1.4rem;
}

.spirit__form label,
.spirit__form input,
.spirit__form p {
    margin: 0.2rem;
}

.spirit__form input {
    width: 80%;
    margin-bottom: 2rem;
}

.spirit__form button {
    font-size: 2rem;


    background-color: var(--christalle);
    color: white;
    padding: .5rem 2rem;
    border-radius: 6px;
    margin-bottom: 2rem;
}


footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8px;
}

footer div {
    display: flex;
    align-items: center;
}

footer span {
    font-weight: 700;
}

footer img {
    width: 3rem;
}



.visible {
    display: flex;
}


.hidden {
    display: none;
}
